<h1>Simple Text Classifier</h1>

To train the classifier, choose and algorithm and load a .tsv file with two
columns, the second of which is a selection of text and the first of which is a
label. If you choose logistic regression, you must have only two labels,
'positive' and 'negative'.

<br>

<form action='use.html' method="post" enctype="multipart/form-data">

  {% csrf_token %}

  <p>{{ form.non_field_errors }}</p>
  <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

  <p>
  {{ form.algorithm }}
  {{ form.docfile }}
  </p>

  <p> {{ form.docfile.errors }} </p>

  <p><input type="submit" value="Upload" /></p>
</form>
